.sidebar {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form {
    display: flex;
    align-items: center;

}


.search-input {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 9999px;
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0ea5e9;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
}

.conversations-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/*Conversation*/

.user-card {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    color: #4c4f53;

    transition: background-color 0.3s ease;
}

.selected-user-card {
    background-color: #51bcee;
}

.user-card:hover {
    background-color: #0ea5e9;
    color: #feffff;

}


.avatar {
    position: relative;
}

.avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.online::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: green;
    border: 2px solid white;
    border-radius: 50%;
}


.user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}




.user-name {
    font-weight: bold;

}



.user-status {
    font-size: 1.25rem;

}

.divider {
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: #e5e7eb;
    border: none;
}

.logout-container {
    margin-top: auto;
}

.logout {
    color: rgb(70, 68, 68);
    width: 20px;
    height: 20px;
    cursor: pointer;

}